.table-div {
    max-height: 550px !important;
    overflow-y: auto;

}
.table-div::-webkit-scrollbar{
    width: 15px;
}

.table-div::-webkit-scrollbar-thumb{
    background-color: #ABABAB;
    border-radius: 10px;
    height: 1px;
}

.table-div::-webkit-scrollbar-track{
    background-color: #D9D9D9;
    border-radius: 10px;
}

.table-div::-webkit-scrollbar-thumb:hover{
    background-color: #838383;
}

#spinner-div {
    margin-bottom: 484px;
}
.espaco {
    margin-bottom: 100px;
}

.card {
    height: 400px;
}